<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>withoutGrassUp_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{279,622}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,622}}</string>
                <key>sourceSize</key>
                <string>{279,622}</string>
            </dict>
            <key>withoutGrassUp_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,2},{618,530}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,530}}</string>
                <key>sourceSize</key>
                <string>{618,530}</string>
            </dict>
            <key>withoutGrassUp_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1238},{325,614}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,614}}</string>
                <key>sourceSize</key>
                <string>{325,628}</string>
            </dict>
            <key>withoutGrassUp_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,622},{437,586}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{437,586}}</string>
                <key>sourceSize</key>
                <string>{437,586}</string>
            </dict>
            <key>withoutGrassUp_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{279,620}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,620}}</string>
                <key>sourceSize</key>
                <string>{279,622}</string>
            </dict>
            <key>withoutGrassUp_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1248},{618,530}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,530}}</string>
                <key>sourceSize</key>
                <string>{618,530}</string>
            </dict>
            <key>withoutGrassUp_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,622},{325,614}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,614}}</string>
                <key>sourceSize</key>
                <string>{325,628}</string>
            </dict>
            <key>withoutGrassUp_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,2},{437,584}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{437,584}}</string>
                <key>sourceSize</key>
                <string>{437,586}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>parallax_bg_withoutGrassUp.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37e997f15995992d84f0f3a85ef01f6e:62098f7293f02847a60ccb0ae7a026b4:d4db66622999c9ef6cb7cb506d7e1784$</string>
            <key>textureFileName</key>
            <string>parallax_bg_withoutGrassUp.png</string>
        </dict>
    </dict>
</plist>
