<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{178,45}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{178,45}}</string>
                <key>sourceSize</key>
                <string>{218,67}</string>
            </dict>
            <key>bar_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,280},{169,39}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{169,39}}</string>
                <key>sourceSize</key>
                <string>{199,57}</string>
            </dict>
            <key>boxTransparent.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{1,1}}</string>
                <key>offset</key>
                <string>{-18,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>btnAbout.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{170,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{170,62}}</string>
                <key>sourceSize</key>
                <string>{176,72}</string>
            </dict>
            <key>btnActive.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,511},{156,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{156,75}}</string>
                <key>sourceSize</key>
                <string>{160,79}</string>
            </dict>
            <key>btnAll.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,545},{156,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{156,75}}</string>
                <key>sourceSize</key>
                <string>{160,79}</string>
            </dict>
            <key>btnBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,327},{170,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{170,62}}</string>
                <key>sourceSize</key>
                <string>{176,72}</string>
            </dict>
            <key>btnBuy.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,468},{156,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{156,75}}</string>
                <key>sourceSize</key>
                <string>{160,79}</string>
            </dict>
            <key>btnBuy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,305},{170,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{170,62}}</string>
                <key>sourceSize</key>
                <string>{176,72}</string>
            </dict>
            <key>btnChallenges.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,446},{156,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{156,75}}</string>
                <key>sourceSize</key>
                <string>{160,79}</string>
            </dict>
            <key>btnClose.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,397},{103,101}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{103,101}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>btnCoins.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{156,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{156,75}}</string>
                <key>sourceSize</key>
                <string>{160,79}</string>
            </dict>
            <key>btnCompleted.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,475},{156,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{156,75}}</string>
                <key>sourceSize</key>
                <string>{160,79}</string>
            </dict>
            <key>btnContinue.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,216},{170,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{170,62}}</string>
                <key>sourceSize</key>
                <string>{176,72}</string>
            </dict>
            <key>btnExtra.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,434},{156,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{156,75}}</string>
                <key>sourceSize</key>
                <string>{160,79}</string>
            </dict>
            <key>btnExtrasMinus.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,613},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>btnExtrasPlus.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,573},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>btnFacebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,391},{156,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{156,75}}</string>
                <key>sourceSize</key>
                <string>{160,79}</string>
            </dict>
            <key>btnFeedback.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,369},{156,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{156,75}}</string>
                <key>sourceSize</key>
                <string>{160,79}</string>
            </dict>
            <key>btnGameCenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,641},{69,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{69,58}}</string>
                <key>sourceSize</key>
                <string>{73,62}</string>
            </dict>
            <key>btnGameCenterAchievemnts.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,216},{170,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{170,62}}</string>
                <key>sourceSize</key>
                <string>{176,72}</string>
            </dict>
            <key>btnGameCenterLeaderboards.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{170,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{170,62}}</string>
                <key>sourceSize</key>
                <string>{176,72}</string>
            </dict>
            <key>btnGooglePlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,407},{69,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{69,58}}</string>
                <key>sourceSize</key>
                <string>{73,62}</string>
            </dict>
            <key>btnHelp.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,263},{170,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{170,62}}</string>
                <key>sourceSize</key>
                <string>{176,72}</string>
            </dict>
            <key>btnLoading.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,241},{170,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{170,62}}</string>
                <key>sourceSize</key>
                <string>{176,72}</string>
            </dict>
            <key>btnLocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,614},{89,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{89,87}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>btnMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,199},{170,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{170,62}}</string>
                <key>sourceSize</key>
                <string>{176,72}</string>
            </dict>
            <key>btnMoreGames.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,753},{72,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{72,57}}</string>
                <key>sourceSize</key>
                <string>{74,61}</string>
            </dict>
            <key>btnNewGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,177},{170,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{170,62}}</string>
                <key>sourceSize</key>
                <string>{176,72}</string>
            </dict>
            <key>btnObj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,421},{156,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{156,75}}</string>
                <key>sourceSize</key>
                <string>{160,79}</string>
            </dict>
            <key>btnObjective.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,725},{83,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{83,77}}</string>
                <key>sourceSize</key>
                <string>{87,81}</string>
            </dict>
            <key>btnPause.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,803},{56,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{56,62}}</string>
                <key>sourceSize</key>
                <string>{60,66}</string>
            </dict>
            <key>btnPlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,152},{170,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{170,62}}</string>
                <key>sourceSize</key>
                <string>{176,72}</string>
            </dict>
            <key>btnPlus.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,367},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>btnPowerUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,398},{156,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{156,75}}</string>
                <key>sourceSize</key>
                <string>{160,79}</string>
            </dict>
            <key>btnRefresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,647},{80,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{80,72}}</string>
                <key>sourceSize</key>
                <string>{84,78}</string>
            </dict>
            <key>btnRemoveAds.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,357},{156,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{156,75}}</string>
                <key>sourceSize</key>
                <string>{160,79}</string>
            </dict>
            <key>btnResetAll.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{156,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{156,75}}</string>
                <key>sourceSize</key>
                <string>{160,79}</string>
            </dict>
            <key>btnRestorePurchases.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,152},{170,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{170,62}}</string>
                <key>sourceSize</key>
                <string>{176,72}</string>
            </dict>
            <key>btnResume.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{172,67}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{172,67}}</string>
                <key>sourceSize</key>
                <string>{176,71}</string>
            </dict>
            <key>btnScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{170,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{170,62}}</string>
                <key>sourceSize</key>
                <string>{176,72}</string>
            </dict>
            <key>btnSound.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,575},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btnSoundOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,712},{72,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{72,57}}</string>
                <key>sourceSize</key>
                <string>{74,61}</string>
            </dict>
            <key>btnSoundOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,592},{72,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{72,57}}</string>
                <key>sourceSize</key>
                <string>{74,61}</string>
            </dict>
            <key>btnStar.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,135},{170,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{170,62}}</string>
                <key>sourceSize</key>
                <string>{176,72}</string>
            </dict>
            <key>btnStats.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,321},{156,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{156,75}}</string>
                <key>sourceSize</key>
                <string>{160,79}</string>
            </dict>
            <key>btnTrailer.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,280},{156,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{156,75}}</string>
                <key>sourceSize</key>
                <string>{160,79}</string>
            </dict>
            <key>btnUnlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,113},{170,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{170,62}}</string>
                <key>sourceSize</key>
                <string>{176,72}</string>
            </dict>
            <key>btnUpgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,71},{170,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{170,62}}</string>
                <key>sourceSize</key>
                <string>{176,72}</string>
            </dict>
            <key>btnUpgrades.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,49},{170,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{170,62}}</string>
                <key>sourceSize</key>
                <string>{176,72}</string>
            </dict>
            <key>coin_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,242},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>coin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,326},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>coin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,199},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>coin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,285},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>coinsStars_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,695},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{78,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>coinsStars_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,575},{81,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{81,93}}</string>
                <key>sourceSize</key>
                <string>{87,99}</string>
            </dict>
            <key>coinsStars_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,500},{98,85}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,85}}</string>
                <key>sourceSize</key>
                <string>{104,87}</string>
            </dict>
            <key>coinsStars_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,309},{111,86}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{111,86}}</string>
                <key>sourceSize</key>
                <string>{123,90}</string>
            </dict>
            <key>coinsStars_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,587},{54,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,4},{54,91}}</string>
                <key>sourceSize</key>
                <string>{98,99}</string>
            </dict>
            <key>coinsStars_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,607},{86,90}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,5},{86,90}}</string>
                <key>sourceSize</key>
                <string>{118,98}</string>
            </dict>
            <key>coinsStars_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,552},{93,95}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{93,95}}</string>
                <key>sourceSize</key>
                <string>{93,113}</string>
            </dict>
            <key>coinsStars_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,152},{118,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{118,107}}</string>
                <key>sourceSize</key>
                <string>{134,119}</string>
            </dict>
            <key>iconAllChars.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,695},{84,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{84,69}}</string>
                <key>sourceSize</key>
                <string>{90,75}</string>
            </dict>
            <key>iconBarBlank.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,369},{79,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{79,30}}</string>
                <key>sourceSize</key>
                <string>{83,34}</string>
            </dict>
            <key>iconBarFilled.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,666},{77,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{77,27}}</string>
                <key>sourceSize</key>
                <string>{81,31}</string>
            </dict>
            <key>iconBlast.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,676},{75,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,79}}</string>
                <key>sourceSize</key>
                <string>{75,79}</string>
            </dict>
            <key>iconExtraLife.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,643},{84,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{84,80}}</string>
                <key>sourceSize</key>
                <string>{88,84}</string>
            </dict>
            <key>iconFourCoins.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,721},{53,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,55}}</string>
                <key>sourceSize</key>
                <string>{53,55}</string>
            </dict>
            <key>iconMysteryBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,588},{89,86}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{89,86}}</string>
                <key>sourceSize</key>
                <string>{93,88}</string>
            </dict>
            <key>iconNumber.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,588},{63,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{63,64}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>iconRefresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,647},{80,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{80,72}}</string>
                <key>sourceSize</key>
                <string>{84,78}</string>
            </dict>
            <key>iconRibbon_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,450},{42,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,59}}</string>
                <key>sourceSize</key>
                <string>{42,59}</string>
            </dict>
            <key>iconRibbon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,552},{38,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,59}}</string>
                <key>sourceSize</key>
                <string>{38,59}</string>
            </dict>
            <key>iconRibbon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,511},{41,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,60}}</string>
                <key>sourceSize</key>
                <string>{41,60}</string>
            </dict>
            <key>iconStar.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,523},{91,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{91,82}}</string>
                <key>sourceSize</key>
                <string>{97,88}</string>
            </dict>
            <key>iconSuperRocket.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,478},{75,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{75,67}}</string>
                <key>sourceSize</key>
                <string>{79,69}</string>
            </dict>
            <key>iconTick.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,523},{89,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{89,82}}</string>
                <key>sourceSize</key>
                <string>{93,86}</string>
            </dict>
            <key>iconTrophy.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,725},{83,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{83,77}}</string>
                <key>sourceSize</key>
                <string>{87,81}</string>
            </dict>
            <key>iconTrophyTick.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{91,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{91,82}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>iconUpDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,261},{46,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,118}}</string>
                <key>sourceSize</key>
                <string>{46,118}</string>
            </dict>
            <key>iconWallBreak.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,653},{76,63}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{76,63}}</string>
                <key>sourceSize</key>
                <string>{80,69}</string>
            </dict>
            <key>iconWideLane.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,555},{76,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{76,66}}</string>
                <key>sourceSize</key>
                <string>{80,68}</string>
            </dict>
            <key>progressTrophy.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,731},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
            <key>scrollBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{662,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{662,148}}</string>
                <key>sourceSize</key>
                <string>{662,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buttonTexture.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d9e747a666f2967b42e56de76631253:b35e34bc482782194c03561da10c7921:794846d018b3d780c7b968e39dbe7f24$</string>
            <key>textureFileName</key>
            <string>buttonTexture.png</string>
        </dict>
    </dict>
</plist>
