<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>grassUp_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1238},{325,614}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,614}}</string>
                <key>sourceSize</key>
                <string>{325,628}</string>
            </dict>
            <key>grassUp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,2},{437,584}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{437,584}}</string>
                <key>sourceSize</key>
                <string>{437,586}</string>
            </dict>
            <key>grassUp_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{279,626}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,626}}</string>
                <key>sourceSize</key>
                <string>{279,636}</string>
            </dict>
            <key>grassUp_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,2},{618,530}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,530}}</string>
                <key>sourceSize</key>
                <string>{618,550}</string>
            </dict>
            <key>grassUp_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,622},{437,586}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{437,586}}</string>
                <key>sourceSize</key>
                <string>{437,586}</string>
            </dict>
            <key>grassUp_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{279,620}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,620}}</string>
                <key>sourceSize</key>
                <string>{279,636}</string>
            </dict>
            <key>grassUp_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1252},{618,530}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,530}}</string>
                <key>sourceSize</key>
                <string>{618,550}</string>
            </dict>
            <key>grassUp_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,622},{325,614}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,614}}</string>
                <key>sourceSize</key>
                <string>{325,628}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>parallax_bg_grassUp.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:580bf38ecf2ed59879597988b3b5cf80:3acfd88d15bf71e2e33cbb28c702bf28:3ec09131b64a2bb3f079348a518d8d9d$</string>
            <key>textureFileName</key>
            <string>parallax_bg_grassUp.png</string>
        </dict>
    </dict>
</plist>
