<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,2},{82,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{82,21}}</string>
                <key>sourceSize</key>
                <string>{100,31}</string>
            </dict>
            <key>bar_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,149},{79,20}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{79,20}}</string>
                <key>sourceSize</key>
                <string>{91,26}</string>
            </dict>
            <key>boxTransparent.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,25},{1,1}}</string>
                <key>offset</key>
                <string>{-36.5,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{74,49}</string>
            </dict>
            <key>btnAbout.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,134},{79,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{79,29}}</string>
                <key>sourceSize</key>
                <string>{81,33}</string>
            </dict>
            <key>btnActive.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,235},{74,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,36}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>btnAll.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,241},{74,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,36}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>btnBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,134},{79,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{79,29}}</string>
                <key>sourceSize</key>
                <string>{81,33}</string>
            </dict>
            <key>btnBuy.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,203},{74,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,36}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>btnBuy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{79,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{79,29}}</string>
                <key>sourceSize</key>
                <string>{81,33}</string>
            </dict>
            <key>btnChallenges.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,364},{74,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,36}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>btnClose.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,168},{49,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{49,47}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>btnCoins.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,288},{74,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,36}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>btnCompleted.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{74,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,36}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>btnContinue.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,103},{79,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{79,29}}</string>
                <key>sourceSize</key>
                <string>{81,33}</string>
            </dict>
            <key>btnExtra.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{74,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,36}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>btnExtrasMinus.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,359},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>btnExtrasPlus.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,338},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>btnFacebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,237},{74,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,36}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>btnFeedback.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,209},{74,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,36}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>btnGameCenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,325},{35,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{35,29}}</string>
                <key>sourceSize</key>
                <string>{37,31}</string>
            </dict>
            <key>btnGameCenterAchievemnts.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,103},{79,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{79,29}}</string>
                <key>sourceSize</key>
                <string>{81,33}</string>
            </dict>
            <key>btnGameCenterLeaderboards.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{79,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{79,29}}</string>
                <key>sourceSize</key>
                <string>{81,33}</string>
            </dict>
            <key>btnGooglePlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,319},{35,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{35,29}}</string>
                <key>sourceSize</key>
                <string>{37,31}</string>
            </dict>
            <key>btnHelp.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,130},{79,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{79,29}}</string>
                <key>sourceSize</key>
                <string>{81,33}</string>
            </dict>
            <key>btnLoading.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,118},{79,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{79,29}}</string>
                <key>sourceSize</key>
                <string>{81,33}</string>
            </dict>
            <key>btnLocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>btnMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,99},{79,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{79,29}}</string>
                <key>sourceSize</key>
                <string>{81,33}</string>
            </dict>
            <key>btnMoreGames.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,288},{37,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{37,29}}</string>
                <key>sourceSize</key>
                <string>{37,31}</string>
            </dict>
            <key>btnNewGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,87},{79,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{79,29}}</string>
                <key>sourceSize</key>
                <string>{81,33}</string>
            </dict>
            <key>btnObj.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,165},{74,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,36}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>btnObjective.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,203},{40,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,37}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>btnPause.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,409},{27,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,30}}</string>
                <key>sourceSize</key>
                <string>{27,30}</string>
            </dict>
            <key>btnPlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,72},{79,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{79,29}}</string>
                <key>sourceSize</key>
                <string>{81,33}</string>
            </dict>
            <key>btnPlus.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,317},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>btnPowerUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,165},{74,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,36}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>btnRefresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{39,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{39,34}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
            <key>btnRemoveAds.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{74,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,36}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>btnResetAll.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,199},{74,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,36}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>btnRestorePurchases.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,72},{79,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{79,29}}</string>
                <key>sourceSize</key>
                <string>{81,33}</string>
            </dict>
            <key>btnResume.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,2},{81,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,33}}</string>
                <key>sourceSize</key>
                <string>{81,33}</string>
            </dict>
            <key>btnScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{79,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{79,29}}</string>
                <key>sourceSize</key>
                <string>{81,33}</string>
            </dict>
            <key>btnSound.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,409},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>btnSoundOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,307},{37,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{37,29}}</string>
                <key>sourceSize</key>
                <string>{37,31}</string>
            </dict>
            <key>btnSoundOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,286},{37,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{37,29}}</string>
                <key>sourceSize</key>
                <string>{37,31}</string>
            </dict>
            <key>btnStar.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,68},{79,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{79,29}}</string>
                <key>sourceSize</key>
                <string>{81,33}</string>
            </dict>
            <key>btnStats.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,171},{74,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,36}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>btnTrailer.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,161},{74,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,36}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>btnUnlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,56},{79,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{79,29}}</string>
                <key>sourceSize</key>
                <string>{81,33}</string>
            </dict>
            <key>btnUpgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,37},{79,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{79,29}}</string>
                <key>sourceSize</key>
                <string>{81,33}</string>
            </dict>
            <key>btnUpgrades.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,25},{79,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{79,29}}</string>
                <key>sourceSize</key>
                <string>{81,33}</string>
            </dict>
            <key>coin_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,485},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>coin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,485},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>coin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,213},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>coin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,191},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>coinsStars_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,247},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>coinsStars_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,77},{38,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,44}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>coinsStars_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,217},{48,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,40}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>coinsStars_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,148},{53,41}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{53,41}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>coinsStars_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,259},{27,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{27,44}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>coinsStars_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{42,43}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{42,43}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>coinsStars_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,123},{43,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,52}</string>
            </dict>
            <key>coinsStars_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,72},{56,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{56,51}}</string>
                <key>sourceSize</key>
                <string>{62,55}</string>
            </dict>
            <key>iconAllChars.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,43},{39,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{39,32}}</string>
                <key>sourceSize</key>
                <string>{41,34}</string>
            </dict>
            <key>iconBarBlank.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,247},{38,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,15}}</string>
                <key>sourceSize</key>
                <string>{38,15}</string>
            </dict>
            <key>iconBarFilled.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,309},{37,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,14}}</string>
                <key>sourceSize</key>
                <string>{37,14}</string>
            </dict>
            <key>iconBlast.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,264},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>iconExtraLife.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,247},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>iconFourCoins.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>iconMysteryBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,203},{43,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,40}}</string>
                <key>sourceSize</key>
                <string>{43,40}</string>
            </dict>
            <key>iconNumber.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,440},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>iconRefresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{39,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{39,34}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
            <key>iconRibbon_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,288},{19,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,27}}</string>
                <key>sourceSize</key>
                <string>{19,27}</string>
            </dict>
            <key>iconRibbon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,380},{17,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,27}}</string>
                <key>sourceSize</key>
                <string>{17,27}</string>
            </dict>
            <key>iconRibbon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,485},{19,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,27}}</string>
                <key>sourceSize</key>
                <string>{19,27}</string>
            </dict>
            <key>iconStar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{43,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{43,38}}</string>
                <key>sourceSize</key>
                <string>{45,40}</string>
            </dict>
            <key>iconSuperRocket.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,275},{36,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{36,32}</string>
            </dict>
            <key>iconTick.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,440},{43,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,40}}</string>
                <key>sourceSize</key>
                <string>{43,40}</string>
            </dict>
            <key>iconTrophy.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,203},{40,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,37}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>iconTrophyTick.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,191},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>iconUpDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,125},{21,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,54}}</string>
                <key>sourceSize</key>
                <string>{21,54}</string>
            </dict>
            <key>iconWallBreak.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,275},{37,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{37,30}}</string>
                <key>sourceSize</key>
                <string>{37,32}</string>
            </dict>
            <key>iconWideLane.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,242},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{40,34}</string>
            </dict>
            <key>progressTrophy.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,350},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>scrollBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{305,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,68}}</string>
                <key>sourceSize</key>
                <string>{305,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buttonTexture.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f07f8591d709be80f9b4029badb9b4b:6c5dcea87d66129907e0954e002bfb2a:794846d018b3d780c7b968e39dbe7f24$</string>
            <key>textureFileName</key>
            <string>buttonTexture.png</string>
        </dict>
    </dict>
</plist>
