<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>grassDown_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{136,258}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{136,258}}</string>
                <key>sourceSize</key>
                <string>{136,262}</string>
            </dict>
            <key>grassDown_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1212},{182,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,244}}</string>
                <key>sourceSize</key>
                <string>{182,244}</string>
            </dict>
            <key>grassDown_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,2},{116,261}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{116,261}}</string>
                <key>sourceSize</key>
                <string>{116,265}</string>
            </dict>
            <key>grassDown_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,579},{258,221}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{258,221}}</string>
                <key>sourceSize</key>
                <string>{258,229}</string>
            </dict>
            <key>grassDown_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,960},{136,256}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{136,256}}</string>
                <key>sourceSize</key>
                <string>{136,262}</string>
            </dict>
            <key>grassDown_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1262},{182,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,244}}</string>
                <key>sourceSize</key>
                <string>{182,244}</string>
            </dict>
            <key>grassDown_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,238},{116,259}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{116,259}}</string>
                <key>sourceSize</key>
                <string>{116,265}</string>
            </dict>
            <key>grassDown_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,522},{258,221}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{258,221}}</string>
                <key>sourceSize</key>
                <string>{258,229}</string>
            </dict>
            <key>grassUp_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,717},{136,258}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,258}}</string>
                <key>sourceSize</key>
                <string>{136,262}</string>
            </dict>
            <key>grassUp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1177},{182,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,244}}</string>
                <key>sourceSize</key>
                <string>{182,244}</string>
            </dict>
            <key>grassUp_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,261}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,261}}</string>
                <key>sourceSize</key>
                <string>{116,265}</string>
            </dict>
            <key>grassUp_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,461},{258,221}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,221}}</string>
                <key>sourceSize</key>
                <string>{258,229}</string>
            </dict>
            <key>grassUp_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1098},{182,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,244}}</string>
                <key>sourceSize</key>
                <string>{182,244}</string>
            </dict>
            <key>grassUp_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{116,259}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,259}}</string>
                <key>sourceSize</key>
                <string>{116,265}</string>
            </dict>
            <key>grassUp_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,356},{258,221}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,221}}</string>
                <key>sourceSize</key>
                <string>{258,229}</string>
            </dict>
            <key>grassUp_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{136,256}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,256}}</string>
                <key>sourceSize</key>
                <string>{136,262}</string>
            </dict>
            <key>obstacle_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,317},{15,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,45}}</string>
                <key>sourceSize</key>
                <string>{15,45}</string>
            </dict>
            <key>obstacle_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,262},{15,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,53}}</string>
                <key>sourceSize</key>
                <string>{15,53}</string>
            </dict>
            <key>withoutGrassDown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,120},{116,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,259}}</string>
                <key>sourceSize</key>
                <string>{116,259}</string>
            </dict>
            <key>withoutGrassDown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{258,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,221}}</string>
                <key>sourceSize</key>
                <string>{258,221}</string>
            </dict>
            <key>withoutGrassDown_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,855},{136,256}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{136,256}}</string>
                <key>sourceSize</key>
                <string>{136,262}</string>
            </dict>
            <key>withoutGrassDown_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1078},{182,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,244}}</string>
                <key>sourceSize</key>
                <string>{182,244}</string>
            </dict>
            <key>withoutGrassDown_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,120},{116,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,259}}</string>
                <key>sourceSize</key>
                <string>{116,259}</string>
            </dict>
            <key>withoutGrassDown_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,262},{258,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,221}}</string>
                <key>sourceSize</key>
                <string>{258,221}</string>
            </dict>
            <key>withoutGrassDown_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,684},{136,258}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{136,258}}</string>
                <key>sourceSize</key>
                <string>{136,262}</string>
            </dict>
            <key>withoutGrassDown_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,993},{182,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,244}}</string>
                <key>sourceSize</key>
                <string>{182,244}</string>
            </dict>
            <key>withoutGrassUp_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{116,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,259}}</string>
                <key>sourceSize</key>
                <string>{116,259}</string>
            </dict>
            <key>withoutGrassUp_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,238},{258,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,221}}</string>
                <key>sourceSize</key>
                <string>{258,221}</string>
            </dict>
            <key>withoutGrassUp_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,822},{136,256}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,256}}</string>
                <key>sourceSize</key>
                <string>{136,262}</string>
            </dict>
            <key>withoutGrassUp_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1028},{182,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,244}}</string>
                <key>sourceSize</key>
                <string>{182,244}</string>
            </dict>
            <key>withoutGrassUp_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{116,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,259}}</string>
                <key>sourceSize</key>
                <string>{116,259}</string>
            </dict>
            <key>withoutGrassUp_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,2},{258,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,221}}</string>
                <key>sourceSize</key>
                <string>{258,221}</string>
            </dict>
            <key>withoutGrassUp_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,579},{136,258}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,258}}</string>
                <key>sourceSize</key>
                <string>{136,262}</string>
            </dict>
            <key>withoutGrassUp_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,782},{182,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,244}}</string>
                <key>sourceSize</key>
                <string>{182,244}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>parallax_bg.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2eeee45450213764374f7a4e1e95fc63:c72edc40cc89fe321d145ab0fa1293d4:4833c0476851c3fdec91694f44e4e291$</string>
            <key>textureFileName</key>
            <string>parallax_bg.png</string>
        </dict>
    </dict>
</plist>
